.page-footer {
  background-color: #35bcb3de;
  height: 100%;
}

.showMore {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

h4 {
  margin: 10px;
}