<main class="section">
  <table class="container">
    <thead>
      <tr>
        <th class="center">Más Información</th>
        <th class="center">Ranking</th>
        <th class="center">Nombre</th>
        <th class="center">Simbolo</th>
        <th class="center">Precio en Dolares</th>
        <th class="center">Variación 24hs</th>
      </tr>
    </thead>

    <tbody>
      <tr>

        <td>
          <li class="highlight center " *ngFor="let item of currentData"><a class="waves-effect waves-light btn">Mostrar Más</a>
          </li>
        </td>
        
        <td>
          <li class="highlight center" *ngFor="let item of currentData">{{ item.rank }}</li>
        </td>

        <td>
          <li class="highlight center" *ngFor="let item of currentData">{{ item.name }}</li>
        </td>

        <td>
          <li class="highlight center" *ngFor="let item of currentData">{{ item.symbol }}</li>
        </td>
        
        <td>
          <li class="highlight center" *ngFor="let item of currentData">{{ item.priceUsd | currency}}</li>
        </td>

        <td>
          <li class="highlight center" *ngFor="let item of currentData">{{ item.changePercent24Hr | currency}}</li>
        </td>

      </tr>
      
    </tbody>
  </table>
</main>
